@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: rgb(12, 11, 12);
    font-family: 'Mali', cursive;
    font-size: 3em;
    padding: 10px;
}

.restContainer{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 50px;
}

.restaurant{
    border: solid 1px black;
    padding: 50px;
    box-shadow: 5px 0 5px rgba(6, 5, 31, 0.445);
}

.image{
    width: 100%;
    display: block;
    object-position: 50% 50%;
}

.contents{
    line-height: 1.5;
    font-size: 1.2em;
    
}


.inpt{
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ln{
    border: solid 1px black;
    margin-bottom: 25px;
}